#title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::selection {
    color: none;
    background: none;
}

#copyright {
    background-color: #888;
}

.card-title, .card-subtitle, .card-text {
    text-align: center;
}

.card-title {
    font-size: 140px;
}

.card-subtitle {
    font-size: 40px;
}

#col-1, #col-2, #col-3, #col-4{
    font-size: 80px;
    justify-content: center;
}

.option {
    border: 1px solid black;
    overflow: hidden;
    padding: 0;
}

#reset-button {
    justify-content: center;
    margin-top: 16px;
    width: 150px;
    font-size: 40px;
}

@media (max-width: 1000px) {
    .card-title {
        font-size: 100px;
    }
    .card-subtitle {
        font-size: 32px;
    }
    .option {
        font-size: 64px;
    }
}

@media (max-width: 850px) {
    .card-title {
        font-size: 80px;
    }
    .card-subtitle {
        font-size: 24px;
    }
    .option {
        font-size: 40px;
    }
}

@media (max-width: 550px) {
    .card-title {
        font-size: 60px;
    }
    .card-subtitle {
        font-size: 16px;
    }
    .option {
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    .card-title {
        font-size: 40px;
    }
    .card-subtitle {
        font-size: 16px;
    }
    .option {
        font-size: 24px;
    }
}